textarea { resize: none; }

.text-red{
  color: red
}

.text-right = {
  text-align: right
}

.form {
  align-items: center;
	width: auto;
}

.title {
  align-items: center;
	border-bottom: solid grey;
  padding-bottom: 2%
}
