textarea { resize: none; }

.text-red{
  color: red
}

.text-right = {
  text-align: right
}

.form {
  align-items: center;
	width: auto;
  border: solid #b4b4b4;
  padding: 2%;
  margin-top: 2;
}

.title {
  align-items: center;
	border-bottom: solid #b4b4b4;
  padding-bottom: 2%
}
