textarea {
  resize: none;
}

.text-red {
  color: red
}

.text-right= {
  text-align: right
}

.form {
  align-items: center;
  width: auto;
  border: solid #e4e4e4;
  padding: 2%;
  margin-top: 2;
}

.title {
  align-items: center;
  border-bottom: solid #e4e4e4;
  padding-bottom: 2%
}
